*~
\#*
.#*
.cache
.v
*.egg-info
*~
*__pycache__*
secrets
cloud_sql_proxy.log
cloud_sql_proxy
node_modules
dist
.DS_Store
build
env/prod.sh
env/edge.sh
env/stage.sh
env/dev.sh
env/localdev.sh
profile.txt
www/cv.html
www/home.html
www/index.html
www/key.html
www/login.html
www/css/site.css