<div>
  <p class="p-4 text-small text-left ">
    This application start was created as a stack experiment.
    It is implemented using <strong>PostGRES</strong>,
    <strong>FastAPI</strong>,
    <strong>Moustache</strong>,
    <strong>HTMX</strong>,
    <strong>Web Components</strong>,
    <strong>Surreal</strong>
    and <strong>Tailwind</strong>.
    The <strong>Makefile</strong> deploys
    to <strong>Google Cloud</strong>
    by cooking a <strong>Docker</strong> image,
    pushing it to <strong>CloudRun</strong>,
    pushing static files to a <strong>Cloud Storage</strong> bucket
    and setting a load balancer in front of it all.
    When the backend is turned off it gracefully becomes a static website
    and the CDN could be turned on if needed.
    I'm running it here as
    my personal website and as a place to kick around a few ideas.
    Some of my impressions of the stack are in the <strong>README.md</strong>
  </p>
  <p>
    Code is here:
    <a class="underline text-orangeLight strong hover:no-underline"
       href="https://github.com/lukearno/pith"
       >https://github.com/lukearno/pith</a>
  </p>
  <p class="mt-3">Click the glider to start/stop Conway's Game.</p>
</div>
